### 1. Importing usefull libraries

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time


# Importing selenium webdriver 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException
from selenium.webdriver.common.keys import Keys


#Importing requests
import requests

# importing regex
import re

# importing warnings
import warnings
warnings.filterwarnings('ignore')

### 2. Connecting with web driver

In [2]:
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

### 3. Open url by web driver

In [3]:
driver.get(r'https://paytm.com/')
time.sleep(3)

### 4. Maximize the window

In [4]:
driver.maximize_window()

### 5. Clicking on fligth ticket

In [5]:
for i in driver.find_elements_by_xpath('/html/body/div[1]/div/section[4]/div/div/div/div[2]'):
    i.click()

### 6. Search flight from Bengalure to Pune on 22-Mar-2022

In [6]:
driver.get("https://paytm.com/flights/flightSearch/BLR-Bengaluru/PNQ-Pune/1/0/0/E/2022-03-22")

### 7. Getting the Url of different source and destination on different date

In [7]:
# Creating empty list for URL
url=[]

# List for different Source
source=["BOM-Mumbai","BLR-Bengaluru","CCU-Kolkata"]

# List for different destination
destination = ["DEL-Delhi","PNQ-Pune","MAA-Chennai","HYD-Hyderabad"] 

# List for different date
date_list=["2022-03-22","2022-03-30","2022-04-07","2022-04-13","2022-04-21","2022-04-29","2022-05-07","2022-05-15","2022-05-23","2022-06-01"]

for i in range(0,2):
    for j in range(0,4):
            for k in range(0,10):
                urls="https://paytm.com/flights/flightSearch/"+source[i]+"/"+destination[j]+"/1/0/0/E/"+date_list[k] 
                url.append(urls)

In [8]:
len(url)

80

### 6. Scraping the required data

In [9]:
# empty list for data 
name=[]
departure_time=[]
arrival_time=[]
dur=[]
price=[]
stop=[]
place=[]
date=[]
for j in url:
    driver.get(j)
    time.sleep(2)
    
    for k in driver.find_elements_by_xpath('//div[@class="_3H-S _1Eia"]'):
        name.append(k.text)
            
    for k in driver.find_elements_by_xpath('//div[@class="_3H-S"]'):
        departure_time.append(k.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_3H-S _1wD5"]'):
        arrival_time.append(i.text.split("\n")[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="vY4t"]'):
        dur.append(i.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_1cxG"]'):
        price.append(int(i.text.replace(",","")))
        
    for i in driver.find_elements_by_xpath('//div[@class="_7BOG"]'):
        stop.append(i.text.split()[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="NqXj"]'):
        place.append(i.text)
        
    for i in range(0,len(driver.find_elements_by_xpath('//div[@class="_1cxG"]'))):
               date.append(j.split('/')[11])

In [10]:
source=place[0::2]
destination=place[1::2]

In [11]:
print(len(arrival_time),len(dur),len(price),len(name),len(departure_time),len(source),len(destination),len(date))

9598 9598 9598 9598 9598 9598 9598 9598

### 7. Creating Data Frame

In [12]:
flight=pd.DataFrame({"Flight name":name,
                 "Departure_time":departure_time,
                 "Arrival_time":arrival_time,
                 "Price":price,
                 "Source":source,
                 "Destination":destination,
                  "Duration":dur,
                 "No of stop":stop,
                 "Date":date})

In [13]:
flight

,Flight name,Departure_time,Arrival_time,Price,Source,Destination,Duration,No of stop,Date
0,SpiceJet,21:45,23:45,7308,Mumbai,Delhi,2h,Non,2022-03-22
1,IndiGo,17:15,19:20,7308,Mumbai,Delhi,2h 5m,Non,2022-03-22
2,IndiGo,18:30,20:35,7308,Mumbai,Delhi,2h 5m,Non,2022-03-22
3,IndiGo,20:30,22:35,7308,Mumbai,Delhi,2h 5m,Non,2022-03-22
4,IndiGo,22:20,00:25,7308,Mumbai,Delhi,2h 5m,Non,2022-03-22
...,...,...,...,...,...,...,...,...,...
9593,Vistara,06:40,17:00,13684,Bengaluru,Hyderabad,10h 20m,2,2022-06-01
9594,Air India,13:20,11:15,13740,Bengaluru,Hyderabad,21h 55m,2,2022-06-01
9595,Air India,10:00,11:15,13740,Bengaluru,Hyderabad,25h 15m,2,2022-06-01
9596,Air India,06:10,11:15,13740,Bengaluru,Hyderabad,29h 5m,2,2022-06-01
9597,Vistara,09:30,19:50,16772,Bengaluru,Hyderabad,10h 20m,3,2022-06-01

### 8. Saving data into csv

In [14]:
flight.to_csv("flight_price_for_prediction.csv")

### 9. Close the current driver

In [15]:
driver.close()